.assignmentCard {
  /* background:rgba(253,240,175,1); */
  /* background: #1DDBB; */
  border-radius: 50%;
  box-shadow: 0;
  padding: 3%;
}
.assignmentCardContent {
  /* background:rgba(253,240,175,1); */
  /* background: #1DDBB5; */
  border-radius: 50%;
  background-color:white;
  background-size: 10%;
  height: 250px;
  width: 100%; 
}

.assignmentCardTitle {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: 'center';
  margin-top: 6%;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.linkRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}